{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light"> </span> قائمة العملاء
    </h4>
    
    <a href="{% url 'create_customer' %}"  class="btn btn-primary mb-3">
      إضافة عميل
    </a>


    <!-- Card containing the table -->
    <div class="card">
      
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>اسم العميل</th>
                <th>رقم الهاتف</th>
                <th>العنوان</th>
                <th>الحالة</th>
                <th>الإجراءات</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in customers %}
              <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone|default:"--" }}</td>
                <td>{{ customer.address_line|default:"--" }}</td>
                <!-- عمود الحالة -->
                <td><span class="badge bg-label-warning me-1">Pending</span></td>
                <!-- عمود الإجراءات -->
                <td>
                    
                    <div class="-menu">
                      <a class="-item" href="{% url 'edit_customer' customer.pk %}">
                        <i class="bx bx-edit-alt me-1"></i> تعديل
                      </a>
                      <a class="-item" href="{% url 'delete_customer' customer.pk %}">
                        <i class="bx bx-trash me-1"></i> حذف
                      </a>
                      <a class="btn btn-sm btn-info ajax-link" href="{% url 'customer_statement' customer.pk %}">   طباعة كشف حساب </a>

                    </div>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="8" class="text-center">لا توجد موردين مضافين حتى الآن</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

   
    <hr class="my-5" />
</div>
{% endblock %}
