{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <!-- Content -->
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">إعدادات الشركة /</span> 
    </h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">

          <div class="card-body">
            <form id="formAccountSettings" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <h5 class="mb-3">البيانات الأساسية</h5>
                </div>
                <div class="col-md-6">
                  {{ form.name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.en_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.phone|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.email|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.fax|as_crispy_field }}
                </div>

                <div class="col-12 mt-2">
                  <hr>
                  <h5 class="mb-3">العنوان الوطني وموقع الشركة</h5>
                </div>
                <div class="col-md-6">
                  {{ form.address|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.city|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.district|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.region|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.building_number|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.postal_code|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.country|as_crispy_field }}
                </div>

                <div class="col-12 mt-2">
                  <hr>
                  <h5 class="mb-3">البيانات الضريبية والتجارية</h5>
                </div>
                <div class="col-md-6">
                  {{ form.vat_number|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.cr_number|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.vat_rate|as_crispy_field }}
                </div>

                <div class="col-12 mt-2">
                  <hr>
                  <h5 class="mb-3">بيانات الفاتورة</h5>
                </div>
                <div class="col-md-6">
                  {{ form.invoice_seller_name|as_crispy_field }}
                </div>

                <div class="col-12 mt-2">
                  <hr>
                  <h5 class="mb-3">البيانات البنكية</h5>
                </div>
                <div class="col-md-6">
                  {{ form.bank_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.bank_account_number|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.iban|as_crispy_field }}
                </div>

                <div class="col-12 mt-2">
                  <hr>
                  <h5 class="mb-3">الشعار</h5>
                </div>
                <div class="col-md-6">
                  {{ form.logo|as_crispy_field }}
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">حفظ التغييرات</button>
                <button type="reset" class="btn btn-outline-secondary">إلغاء</button>
              </div>
            </form>
          </div>

         
          <!-- /Account -->
        </div>
      </div>
    </div>
    <!-- / Content -->

  
{% endblock %}

{% block extra_js %}
<script>
  // معاينة الصورة عند اختيار ملف جديد
  document.getElementById('upload').addEventListener('change', function(){
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('uploadedAvatar').src = e.target.result;
      }
      reader.readAsDataURL(this.files[0]);
    }
  });
</script>
{% endblock %}
